* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #38949a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Menu Component */

.logo {
  width: 60%;
  display: flex;
  margin: auto;
  margin-top: 80px;
  margin-left: 60px;
  padding: 0;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 30px;
}

.nav-item {
  display: block;
  margin: auto;
  margin-top: 17px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Poetsen One;
  font-size: 20px;
}

.cashbook {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  height: 60px;
  width: 250px;
  background-size: 300px;
  color: black;
  border-style: solid;
  box-shadow: 0 0 0 2px;
}

.shopping {
  background-color: white;
  font-size: 20px;
  height: 60px;
  width: 250px;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 0 0 0 2px;
}

.calculator {
  background-color: white;
  font-size: 20px;
  height: 60px;
  width: 250px;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 0 0 0 2px;
}

.todolist {
  background-color: white;
  font-size: 20px;
  height: 60px;
  width: 250px;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 0 0 0 2px;
}


/* About HAWI.FY Component */


.aboutapp {
  background-color: white;
  font-size: 20px;
  height: 60px;
  width: 250px;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 0 0 0 2px;
}

.start {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.about_hawify {
  display: flex;
  justify-content: center;
  text-align: justify;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  font-size: 20px;
}

.logo_about {
  width: 80%;
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-left: 25px;
  padding: 0;
}

/* To-Do List Component */

.input_todos{

display: flex;
margin: auto;
margin-top: 30px;
border-style: solid;
box-shadow: 0 0 0 1px;
width: 70%;
height: 30px;
font-size: 18px;

}

.delete_clear{
display: flex;
padding-left: 20px;
padding-right: 20px;
padding-top: 30px;
gap: 10px;
height: 50px;
}

button{
font-size: 19px;
width: 70%;
border-radius: 10px;
box-shadow: 0 1px;
}

.choose_day{
display: flex;
justify-content: center;
margin-top: 50px;
}

.todo_field{
  display: flex;
  background-color: white;
  margin: auto;
  justify-content: center;
  margin-top: 30px;
  height: 450px;
  border-style: solid;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px;
  font-family: Poetsen One;
  padding: 20px;
  text-decoration: underline;
  background-color: #F3E779
}

select{
  height: 30px;
  width: 50%;
  text-align: center;
  font-size: 18px;
  font-family: Poetsen One;
}