* {
  padding: 0;
  margin: 0;
}

.logopng{
  display: flex;
  margin: auto;
  width: 250px;
}

.apptitle{
  display: flex;
  justify-content: center;
  font-family: Gloria Hallelujah;
  color: white;
}

.icons{
  height: 30px;
  display: flex;
  margin-right: 20px;
}

h1{
  font-size: 25px;
}

.titel{
  font-size: 35px;
}

body {
  font-family: Electrolize;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, lightgrey, teal);
}

.content {
  position: fixed;
  background: rgba(56, 56, 56, 0.7);
  height: 100%;
  width: 100%;

  border-style: solid white;
  overflow: scroll;
}

/* Menu Component */

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 30px;
}

.nav-item {
  display: flex;
  margin-left: 15px;
  margin-top: 17px;
  text-align: center;
  font-family: Electrolize;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.map {
  background-color: white;
  border-radius: 10px;
  height: 60px;
  width: 250px;
  background-size: 300px;
  color: black;
  border-style: solid;
  box-shadow: 0 0 0 2px;
  transition-duration: 0.4s; 
}

.map:hover{
  background-color: teal;
  color: black;
}

.cashbook {
  background-color: white;
  border-radius: 10px;
  height: 60px;
  width: 250px;
  background-size: 300px;
  color: black;
  border-style: solid;
  box-shadow: 0 0 0 2px;
  transition-duration: 0.4s;
}

.cashbook:hover{
  background-color: teal;
  color: black;
}

h1:hover{
  color: white;
}


.shopping {
  background-color: white;
  height: 60px;
  width: 250px;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 0 0 0 2px;
  transition-duration: 0.4s;
}

.shopping:hover{
  background-color: teal;
  color: black;
}

.calculator {
  background-color: white;
  height: 60px;
  width: 250px;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 0 0 0 2px;
  transition-duration: 0.4s;
}

.calculator:hover{
  background-color: teal;
  color: black;
}

.todolist {
  background-color: white;
  height: 60px;
  width: 250px;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 0 0 0 2px;
  transition-duration: 0.4s;
}

.todolist:hover{
  background-color: teal;
  color: black;
}

/* About HAWI.FY Component */

.aboutapp {
  background-color: white;
  height: 60px;
  width: 250px;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 0 0 0 2px;
  transition-duration: 0.4s;
}

.aboutapp:hover{
  background-color: teal;
  color: black;
}

.arrow{
  height: 40px;
}
 

.about_hawify {
  display: flex;
  justify-content: center;
  text-align: justify;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  font-size: 20px;
  font-family: Electrolize;
}

.logo_about {
  width: 350px;
  display: flex;
  margin: auto;
  margin-top: 10px;
}

/* Task List Component */

.input_todos {
  display: flex;
  margin: auto;
  margin-top: 20px;
  border-style: solid;
  box-shadow: 0 0 0 1px;
  width: 70%;
  height: 40px;
  font-size: 18px;
  font-family: Electrolize;
}

.delete_clear {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  gap: 10px;
  height: 50px;
}

.add_task,
.delete_task {
  font-size: 17px;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 1px;
  font-weight: 100;
  font-family: Electrolize;
  z-index: 1;
}

.task-list {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 680px;
  border-style: solid;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.title_tasklist {
  display: flex;
  justify-content: center;
  font-family: Electrolize;
  text-decoration: underline;
  margin-bottom: 20px;
  color: white;
}

.task-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

.title_task {
  display: flex;
  margin-top: 20px;
  font-size: 25px;
}

.value_task {
  font-size: 20px;
}

.check {
  display: flex;
  justify-content: center;
  height: 20px;
  width: 20px;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 25px;
}

.numberoftasks {
  display: flex;
  margin-right: 20px;
}

.lefttasks {
  display: flex;
  justify-content: flex-end;
  position: relative;
  font-size: 20px;
  font-family: Electrolize;
  color: white;
}

.labeltasks {
  display: flex;
}

.task {
  display: flex;
  margin-top: 20px;
  font-family: Electrolize;
  font-size: 25px;
  color: white;
}

.back {
  height: 100%;
}

/* Shopping List Component */

.input_items {
  display: flex;
  margin: auto;
  margin-top: 20px;
  border-style: solid;
  box-shadow: 0 0 0 1px;
  width: 70%;
  height: 40px;
  font-size: 18px;
  font-family: Electrolize;
}

.delete_items {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  gap: 10px;
  height: 50px;
}

.add_item,
.delete_item {
  font-size: 17px;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 1px;
  font-weight: 100;
  font-family: Electrolize;
  z-index: 1;
}

.item-list {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 680px;
  border-style: solid;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  overflow: auto;
}

.title_itemlist {
  display: flex;
  justify-content: center;
  font-family: Electrolize;
  text-decoration: underline;
  margin-bottom: 20px;
  color: white;
}

.item-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title_item {
  display: flex;
  margin-top: 20px;
  font-size: 25px;
}

.value_item {
  font-size: 20px;
}

.check {
  display: flex;
  justify-content: center;
  height: 20px;
  width: 20px;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 25px;
}

.numberofitems {
  display: flex;
  margin-right: 20px;
}

.leftitems {
  display: flex;
  justify-content: flex-end;
  position: relative;
  font-size: 20px;
  font-family: Electrolize;
  color: white;
}

.labelitems {
  display: flex;
}

.item {
  display: flex;
  margin-top: 20px;
  font-family: Electrolize;
  font-size: 25px;
  color: white;
}

.back {
  height: 100%;
}

/* Expense Tracker Component */

:root {
  --box-shadow: 0px 1px 4px 1px rgba(199, 199, 199, 1);
  --income: lightgreen;
  --expense: rgb(231, 120, 120);
}

#balance {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
}

#title {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#subtitle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}

#name {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.balance-val {
  font-size: 30px;
  color: orange;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.col h3 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 20px;
}

.row-expense {
  box-shadow: var(--box-shadow);
  margin-top: 30px;
  width: 400px;
  display: flex;
  justify-content: center;
}

.col-income,
.col-expense {
  padding: 31px;
}

.col-expense {
  padding-left: 10px;
}

.col-income span {
  display: inline-block;
  border-right: 1px solid #ccc;
  padding-right: 30px;
}

.income-text {
  color: var(--income);
  margin-top: 20px;
  font-size: 30px;
}

.expense-text {
  color: var(--expense);
  margin-top: 20px;
  font-size: 30px;
}

.transactions,
.transactions li {
  padding: 0;
  margin: 0;
  overflow: scroll;
  color: white;
}

.transactions li {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  margin-bottom: 10px;
  padding: 10px;
}

#subheadertra {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.transactions li div {
  margin-right: 10px;
}

.transactions li span {
  display: inline-block;
  margin-right: 10px;
}

.transaction-form {
  display: flex;
  flex-direction: column;
}

.transaction-form input {
  width: 40%;
  height: 25px;
  margin-top: 10px;
  text-align: center;
}

.transaction-form label {
  margin-bottom: 10px;
}

.transaction-form button {
  height: 30px;
  margin-bottom: 5px;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  color: black;
  width: 50%;
}

.income-btn {
  background-color: var(--income);
  margin-top: 20px;
}

.expense-btn {
  background-color: var(--expense);
  margin-top: 20px;
}

.delete-butn{
  background: url('../components/expense_tracker_components/outline_delete_black_24dp.png');
  height: 30px;
  width: 30px;
  display: row;
  justify-content: space-between;  
}

.div_btnexpense{
  display: flex;
}